.contaner{
    display: flex;
    flex-wrap: wrap;
}
.card {
    box-shadow: 0 8px 8px 0 #72147e;
    max-width: 300px;
    text-align: center;
    font-family: arial;
    margin: 10px;
    overflow-wrap: break-word;
    border-radius: 10px;
  }
  
  .price231 {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #72147e;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  .img9{
    width: 100%;
    height: 500px;
      overflow: hidden;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      }
.total_Price{
    display: flex;
    justify-items: center; 
    padding: 30px; 
    flex-direction: column;
    width: 500px;
    text-align: center;
}
.l{
    font-size: 50px;
}
.devider{
    width: 100%;
    display: flex;
    justify-content: center;
}
.span{
    font-size: 35px;
}
.pppp{
    padding: 20px;
    border-radius: 20px;
    font-size:20px ;

}
.oooo{
    padding: 20px;
    border-radius: 20px;
    background-color:#72147e ;
    color: white;
    font-size: 20px;
    cursor: pointer;
    
}

.oooo:hover {
    background-color:green ;
  }

  .ll{
      font-size: 50px;
      color: green;
      margin-top: 20px;
  }

  .pssss{
color: #72147e;

  }

.iiiiii{
    color: red;
    font-size: 20px;
    margin-bottom: 40px;
    
    
    
}

.trash{
  background-color:#d923f1 ;
  width: 100px;
  border-radius: 10px;
  margin-left: 95px;
}

.trash:hover{

  background-color:#9315a3 ;
  
}

