.footer{
display: flex;
}
.folllowUs{
    background: #eee;
    padding: 25px 50px;
}
.facebook{
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
}
.facebook {}
.Twitter{

}
.Instagram{

}