.footer{
display:flex;
/* position: absolute; */
margin-top: 100px;
bottom: 0;
width: 100%;
height: 120px;
background: rgb(221, 15, 15);
}
 .folllowUs{
   
    background: rgb(226, 218, 218);
    width: 50%;

    margin: 10px auto; 

} 

.contact{
    width: 50%;
    height: 120px;
    background: rgb(186, 204, 23);
    text-align: center;
    line-height: 120px;
}
.facebook{
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
    color: #4968ad;
}
.facebook :hover  {
    transform: translateY(-2px);
}
.Twitter{
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
    color: #49a1eb;
}
.Instagram{
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
    color: black;
    

}

  .Twitter :hover  {
    transform: translateY(-2px);
}
.Instagram :hover  {
    transform: translateY(-2px);
}
