
/* *, ::before, ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: var(--color-border);
} */
div {
    display: block;
}

.footer{
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
    height: 200px;
    background: #C400FF;
    display:flex;
    font-family: IBM Plex Sans, sans-serif;
    font-weight: bold;
    font-style: italic;
    
}
    /* -webkit-font-smoothing: antialiased;
    font-family: IBM Plex Sans, sans-serif;
display:flex;
/* position: absolute; */
/* margin-top: 100px;
bottom: 0;
width: 100%;
height: 200px;
background: #C400FF;
} */ 
 .folllowUs{
   
    /* background: rgb(226, 218, 218); */
    width: 25%;
    margin: 10px auto; 

} 
.facebook{
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
    color: #4968ad;
}

.Twitter{
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
    color: #49a1eb;
}
.Instagram{
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
    color: black;
}

  .Twitter :hover  {
    transform: translateY(-2px);
}
.Instagram :hover  {
    transform: translateY(-2px);
}
.facebook :hover  {
    transform: translateY(-2px);
}
.contact{
    display: grid;
    width: 25%;
    height: 200px;
    /* background: rgb(186, 204, 23); */
    text-align: center;
    overflow:visible
    /* line-height: 120px; */
}
/* .phone{
    display: grid;
text-align: center;
margin: 0;
padding: 0;
}
.email{
    display: grid;
    text-align: center;
    margin: 0;
padding: 0;
} */
.Payments{
    display: grid;
    text-align: center;
    /* background: rgb(186, 204, 23); */
    margin: 0;
padding: 0;
}