.ReactModal__Overlay {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 500ms ease-in-out;
  }
  
  .ReactModal__Overlay--after-open {
    opacity: 1;
    transform: translateX(0px);
  }
  
  .ReactModal__Overlay--before-close {
    opacity: 0;
    transform: translateX(-100px);
  }

  .logBtn{
    color: white;
    background-color: #72147e;
    width: 150px;
    margin: auto;
    border-radius: 5px;
    height: 28px;
  }

  .logBtn:hover{
    border: solid 1px #72147e;
    background-color: white;
    color: #72147e;
    height: 28px;
   
}

  .kero{
    text-align: center;
    margin-right: 100px;
    margin-bottom: 20px;
  }

  .socials{
    margin-top: 20px;
    margin-left: -20px;
}

.google{
  margin: auto;
}

  