.book{
    width: 300px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0.2px 4px 5px rgba(red, green, blue, 0.2);
    position: relative;
    overflow: hidden;
}
.book img{
    width: 100%;
}

#main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 0;
    padding-top: 99px;
}
.book-info{
    color: #4B6587;
    text-align: center;
    padding: 0px;
    letter-spacing: 0.3px;

}
.book-info h3{
    margin-top: 0;

}

.book-info span{
    margin-top: 0px;
    border-radius: 5px;
    font-weight: bold;
}

.desc{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    padding: 4px;
    transform: translateY(101%);
    transition: transform 0.8s ;

}
.book:hover .desc{
    transform: translateY(0);
}

.price{
    margin-top: 35px;
    color: blue;
}

.style {
    text-align: "center";
    padding: "100px 0.8";
    font-size: "30px";
  }