.book{
    width: 300px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0.2px 4px 5px rgba(red, green, blue, 0.2);
    position: relative;
    overflow: hidden;
    padding:5px;
    color: #72147e;
    
    
}
.book img{
    width: 100%;
}

#main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 0;
    /* padding-top: 99px; */
}
.book-info{
    color: #4B6587;
    text-align: center;
    padding: 0px;
    letter-spacing: 0.3px;

}
.book-info h3{
    margin-top: 0;

}

.book-info span{
    margin-top: 0px;
    border-radius: 5px;
    font-weight: bold;
}

.desc{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 4px;
    transform: translateY(101%);
    transition: transform 0.8s ;
    background-color: #f0e7f2;
    letter-spacing: 0.03cm;
}
.book1:hover .desc{
    transform: translateY(0);
}
.price{

    color:rgb(77, 77, 191);
    margin-top: 20px;
}

.INTRO{
    margin:50px 0px 5px 0px  ;
    display: flex;
    justify-content: space-between;
}
.intrtolkk{
    width:60%;
    text-align: center;
    font-size: xx-large;
    margin:70px 0px 5px 0px ;
    padding : 0px 0px 0px 50px ;
    color: #72147E;
    font-weight: 100px ;
    
}
.introPick{
    width: 40%;
    text-align:left;
}

